<form #form="ngForm" (submit)="onSubmit(form)">
    <div class="form-group">
        <label> Employee Name </label>
        <input class="form-control form-control-lg" placeholder="Nombre Completo" name="first"
            #name="ngModel" [(ngModel)]="service.formData.name">
    </div>
    <div class="form-group">
        <label> Employee Surname </label>
        <input class="form-control form-control-lg" placeholder="Apellidos" name="second"
            #surname="ngModel" [(ngModel)]="service.formData.surname">
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Ingresar</button>
    </div>
</form>
